body{
    background-color: rgb(253, 232, 232);
}

a{
    /* 去除下划线 */
    text-decoration: none;
}

.content-title{
    /* 为了边框和文字宽度一致，需要将h2转换为行内块元素 */
    display: inline-block;
    /* 设置高度 */
    height: 30px;
    margin: 10px auto;
    padding-top: 10px;
}

.content-title span{
    font-size: 20px;
    margin-right: 10px;
    color: rgb(50, 6, 247);
}

/* 设置title中超链接的样式 */
.content-title a{
    /* 设置颜色 */
    color: rgb(28, 171, 228);
    /* 设置文字的加粗效果 */
    font-weight: bold;
}

/* 设置超链接的鼠标移入的样式 */
.content-title a:hover{
    color: rgb(202, 87, 87);
}

/* 设置news-title */
.new-title{
    font-size: 40px;
    padding-left: 10px;
    font-weight: bold;
    color: rgb(99, 83, 83);
}

/* 设置图片容器的高度  */
.news-img{
    border: rgb(94, 84, 243) 5px dashed;
}

/* 设置容器的样式 */
.content-wrapper{
    /* 设置宽度 */
    width: 320px;
    /* 设置高度 */
    height: auto;
    /*设置居中  */
    margin: 50px auto;
    /* 设置背景颜色，显示轮廓 */
    background-color: rgb(253, 232, 232);
    /* 设置上边框 */
    border-top: 5px solid rgb(170, 168, 168);
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(170, 168, 168);
}

/* 设置容器的样式 */
.basic-wrapper{
    /* 设置宽度 */
    width: 500px;
    /* 设置高度 */
    height: auto;
    /*设置居中  */
    margin: 50px auto;
    /* 设置背景颜色，显示轮廓 */
    /* background-color: rgb(139, 230, 169); */
    /* 设置上边框 */
    border: 5px solid rgb(170, 168, 168);
    padding: 20px;
    font-size: 16px;
    color: rgb(133, 128, 128);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .3) ; 
}

.basic-wrapper p{
    margin: 3px;
}

.inner-wrapper{
    margin: 3px;
    padding: 10px;
    border: 2px rgb(177, 177, 177) dotted;
}

.new-list{
    /* 设置颜色 */
    color: #40406B;
    /* 设置文字的加粗效果 */
    font-weight: bold;
    /* color: rgb(218, 218, 218); */
    font-size: 20px;
    padding: 10px;
    margin-right: 4px;
}

 /* 通过before伪元素，来为每一个li添加项目符号 */
.new-list li::before{
    content: '■';
    color: rgb(33, 10, 241);
    font-size: 20px;
    margin-right: 4px;
    display: inline;
}

.new-list li{
    font-size: 20px;
    margin-right: 10px;
    display: block;
    margin-top: 20px;
}

.new-list li span::before{
    padding-left: 200px;
    content: "[";
}

.new-list li span::after{
    content: "]";
}

.new-list li span{

    float: right;
    color: rgb(12, 63, 233);
}

footer{
    font-size: 10px;
    width: 400px;
    margin: 10px auto;
}

#end{
    float: right;
}

strong{
    font-size: 16px;
    color: slategrey;
    font-weight: bold;
}