<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>2001.7.28</dd>

                <dt class="text-upper">手机</dt>
                <dd>15215760020</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:zh20010728@126.com">zh20010728@126.com</a></dd>

                <dt class="text-upper">英语</dt>
                <dd>高中</dd>
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->