<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">比赛经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Feb. <strong class="text-upper">2020</strong> </span>
                    </time>
                    <h3>算法设计，代码编写，数据分析，文案</h3>
                    <span class="education-company">美国大学生数学建模大赛 | 华中科技大学</span>
                    <p>为模型编写相关算法、代码（最终比赛未用到优化算法相关内容）</p>
                    <p>对数据集进行分析</p>
                    <p>参与部分文案编写</p>
                    <p>。。。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sep <strong class="text-upper">2014</strong> - Jan <strong>2016</strong></span>
                    </time>
                    <h3>算法设计，代码编写</h3>
                    <span class="education-company">中国大学生服务外包大赛 | 华中科技大学</span>
                    <p>参与团队“关山口的俊女靓男”</p>
                    <p>负责算法开发和对应代码编写</p>
                    <p>参与部分数据分析即文案工作</p>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->